/* Change the link in layouts/_partials/common/font.html to your desired google font imports and mention those fonts bellow */
@layer base {
  :root {
    --font-sans: "Work Sans", sans-serif;
    --font-display: "Crimson Pro", serif; /* This will be the default */
    --font-mono: "Fira Mono", monospace;
  }
  body {
    font-family: var(--font-sans);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: 700;
  }
  code {
    font-family: var(--font-mono);
  }
}


/* Generate as many custom theme as you want from https://daisyui.com/theme-generator/ and paste here */
/* Custom themes name must be different than the premade themes ohterwise premade style will persist */

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  --color-primary: #df2212;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #df2212;
}
