{{ define "main" }}
<div class="space-y-12">
  <h1 class="text-4xl font-bold text-center mb-12">Publications</h1>

  {{/* 1. Get all publication pages */}}
  {{ $pages := where .Site.RegularPages "Section" "publications" }}
  
  {{/* 2. Group them by year */}}
  {{ $groups := $pages.GroupByDate "2006" }}

  {{/* 3. Sort the groups by year (the "Key") in descending order */}}
  {{ range sort $groups "Key" "desc" }}
    <div>
      <span class="text-3xl mb-6 pb-2 block border-b border-base-content/20">{{ .Key }}</span>

      <div class="space-y-6">
        {{ range .Pages.ByDate.Reverse }}
          <div class="space-y-1">
            <h2 class="text-xl font-semibold">
              <a href="{{ .RelPermalink }}" class="link-hover">{{ .Title }}</a>
            </h2>
            <p class="text-sm text-base-content/80 mt-2">{{ .Params.authors | markdownify }}</p>
            <p class="text-sm italic">{{ .Params.journal }} · {{ .Date.Format "January 2006" }}</p>
            {{ with .Params.links }}
              <div class="flex flex-wrap gap-2 mt-2">
                {{ range $key, $value := . }}
                  <a href="{{ $value }}" class="btn btn-xs btn-outline hover:btn-primary mr-1">
                    {{ $key | upper }}
                  </a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}        
      </div>

    </div>
  {{ end }}
  </div>
{{ end }}