{{ define "main" }}
<article>
  <h1 class="text-3xl font-bold mb-2">{{ .Title }}</h1>
  <p class="text-sm text-base-content/80 mb-1">{{ .Params.authors | markdownify }}</p>
  <p class="text-sm italic ">{{ .Params.journal }} · {{ .Date.Format "January 2006" }}</p>

  {{ with .Params.links }}
    <div class="flex flex-wrap gap-2 md:gap-4 mt-4 mb-6">
      {{ range $key, $value := . }}
        <a href="{{ $value }}" class="btn btn-sm btn-outline hover:btn-primary mr-1">
          {{ $key | upper }}
        </a>
      {{ end }}
    </div>
  {{ end }}

  <hr class="opacity-15">

  {{ with .Params.summary }}
    <div class="prose prose-lg max-w-full my-6">
      <p><span class="font-bold">Abstract: </span>{{ . }}</p>
    </div>
  {{ end }}

  <div class="prose prose-lg max-w-full my-6">
    {{ .Content | markdownify }}
  </div>
</article>
{{ end }}
